<h1 class="chatTitle">Chat por Websocket</h1>
{{> chat}}

{{!-- {{> chat}} es una parcial (partial) en Handlebars.
Se usa para incluir otra plantilla (chat.hbs) dentro de esta.
Esto permite reutilizar código y mantener las plantillas más organizadas. --}}